{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts",
          "*.db",
          "_app",
          "/.git",
          "*.md"
        ],
        "exceptions": [
          ".htaccess"
        ]
      }
    },
    "uploader": {
      "remotePath": "/www/tolstikov.mastervision.su/modern-psychotechnologies",
      "timeout": 40000,
      "autoUpload": false,
      "reuseConnection": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": ".htaccess",
          "mtimeMs": 1618030707125.2834,
          "date": "2021-04-12T06:43:22.173Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "date": "2021-04-12T06:43:22.499Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "date": "2021-04-12T06:43:22.840Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1618375577684.9893,
          "date": "2021-04-14T04:58:52.003Z"
        },
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1618216615772.175,
          "date": "2021-04-12T08:42:28.115Z"
        },
        {
          "file": "fonts/SFUIDisplay.eot",
          "mtimeMs": 1594887200000,
          "date": "2021-04-12T06:43:24.063Z"
        },
        {
          "file": "fonts/SFUIDisplay.svg",
          "mtimeMs": 1594887200000,
          "date": "2021-04-12T06:43:25.062Z"
        },
        {
          "file": "fonts/SFUIDisplay.ttf",
          "mtimeMs": 1594887200000,
          "date": "2021-04-12T06:43:25.523Z"
        },
        {
          "file": "fonts/SFUIDisplay.woff",
          "mtimeMs": 1594887200000,
          "date": "2021-04-12T06:43:25.934Z"
        },
        {
          "file": "fonts/SFUIDisplay.woff2",
          "mtimeMs": 1594887202000,
          "date": "2021-04-12T06:43:26.417Z"
        },
        {
          "file": "fonts/SFUIDisplayMedium.eot",
          "mtimeMs": 1595861106000,
          "date": "2021-04-12T06:43:27.142Z"
        },
        {
          "file": "fonts/SFUIDisplayMedium.svg",
          "mtimeMs": 1595861106000,
          "date": "2021-04-12T06:43:27.763Z"
        },
        {
          "file": "fonts/SFUIDisplayMedium.ttf",
          "mtimeMs": 1595861106000,
          "date": "2021-04-12T06:43:28.497Z"
        },
        {
          "file": "fonts/SFUIDisplayMedium.woff",
          "mtimeMs": 1595861106000,
          "date": "2021-04-12T06:43:29.273Z"
        },
        {
          "file": "fonts/SFUIDisplayMedium.woff2",
          "mtimeMs": 1595861106000,
          "date": "2021-04-12T06:43:30.032Z"
        },
        {
          "file": "fonts/SFUIDisplaybold.eot",
          "mtimeMs": 1614333891473.0957,
          "date": "2021-04-12T06:43:30.755Z"
        },
        {
          "file": "fonts/SFUIDisplaybold.svg",
          "mtimeMs": 1614333891584.1372,
          "date": "2021-04-12T06:43:31.687Z"
        },
        {
          "file": "fonts/SFUIDisplaybold.ttf",
          "mtimeMs": 1614333891662.0913,
          "date": "2021-04-12T06:43:32.402Z"
        },
        {
          "file": "fonts/SFUIDisplaybold.woff",
          "mtimeMs": 1614333891736.0447,
          "date": "2021-04-12T06:43:33.001Z"
        },
        {
          "file": "fonts/SFUIDisplaybold.woff2",
          "mtimeMs": 1614333891801.0037,
          "date": "2021-04-12T06:43:33.549Z"
        },
        {
          "file": "fonts/SFUIDisplaylight.eot",
          "mtimeMs": 1614333891925.94,
          "date": "2021-04-12T06:43:34.146Z"
        },
        {
          "file": "fonts/SFUIDisplaylight.svg",
          "mtimeMs": 1614333892043.8665,
          "date": "2021-04-12T06:43:34.956Z"
        },
        {
          "file": "fonts/SFUIDisplaylight.ttf",
          "mtimeMs": 1614333892122.818,
          "date": "2021-04-12T06:43:35.564Z"
        },
        {
          "file": "fonts/SFUIDisplaylight.woff",
          "mtimeMs": 1614333892204.767,
          "date": "2021-04-12T06:43:36.021Z"
        },
        {
          "file": "fonts/SFUIDisplaylight.woff2",
          "mtimeMs": 1614333892296.7104,
          "date": "2021-04-12T06:43:36.455Z"
        },
        {
          "file": "img/images/logo.png",
          "mtimeMs": 1618206369366.0479,
          "date": "2021-04-12T06:43:36.866Z"
        },
        {
          "file": "img/images/victor.png",
          "mtimeMs": 1618206373661.6882,
          "date": "2021-04-12T06:43:37.367Z"
        },
        {
          "file": "img/revs/text-1.jpg",
          "mtimeMs": 1595933207223.9956,
          "date": "2021-04-12T06:43:37.744Z"
        },
        {
          "file": "img/revs/text-2.jpg",
          "mtimeMs": 1595933210237.632,
          "date": "2021-04-12T06:43:38.107Z"
        },
        {
          "file": "img/revs/text-3.jpg",
          "mtimeMs": 1595933213269.213,
          "date": "2021-04-12T06:43:38.484Z"
        },
        {
          "file": "img/revs/text-4.jpg",
          "mtimeMs": 1595933215956.104,
          "date": "2021-04-12T06:43:38.885Z"
        },
        {
          "file": "img/revs/text-5.jpg",
          "mtimeMs": 1595933219582.7114,
          "date": "2021-04-12T06:43:39.260Z"
        },
        {
          "file": "img/revs/text-6.jpg",
          "mtimeMs": 1595933222631.734,
          "date": "2021-04-12T06:43:39.635Z"
        },
        {
          "file": "img/revs/text-7.jpg",
          "mtimeMs": 1595933225295.345,
          "date": "2021-04-12T06:43:40.141Z"
        },
        {
          "file": "img/revs/video-1.jpg",
          "mtimeMs": 1595932704658.2683,
          "date": "2021-04-12T06:43:40.538Z"
        },
        {
          "file": "img/revs/video-2.jpg",
          "mtimeMs": 1595932707290.0771,
          "date": "2021-04-12T06:43:41.139Z"
        },
        {
          "file": "img/revs/video-3.jpg",
          "mtimeMs": 1595932710165.0535,
          "date": "2021-04-12T06:43:41.718Z"
        },
        {
          "file": "img/revs/video-4.jpg",
          "mtimeMs": 1595932713119.555,
          "date": "2021-04-12T06:43:42.161Z"
        },
        {
          "file": "img/revs/video-5.jpg",
          "mtimeMs": 1595932717395.9993,
          "date": "2021-04-12T06:43:42.609Z"
        },
        {
          "file": "js/libs.min.js",
          "mtimeMs": 1618054075624.828,
          "date": "2021-04-12T06:43:43.355Z"
        },
        {
          "file": "js/scripts.js",
          "mtimeMs": 1618055335303.0347,
          "date": "2021-04-12T06:43:43.693Z"
        },
        {
          "file": "css/promo.min.css",
          "mtimeMs": 1618217201697.3665,
          "date": "2021-04-12T08:47:02.753Z"
        },
        {
          "file": "img/icons/soc-buttons.jpg",
          "mtimeMs": 1596035211583.8762,
          "date": "2021-04-12T08:42:28.478Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1614333463140.3147,
          "date": "2021-04-12T08:42:28.830Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1618374720984.4058,
          "date": "2021-04-14T04:58:56.675Z"
        },
        {
          "file": "confirm/index.html",
          "mtimeMs": 1618314711424.556,
          "date": "2021-04-13T11:51:57.576Z"
        },
        {
          "file": "css/confirm.min.css",
          "mtimeMs": 1618218844250.2195,
          "date": "2021-04-12T09:14:40.237Z"
        },
        {
          "file": "img/icons/gmail.png",
          "mtimeMs": 1614319639699.2766,
          "date": "2021-04-12T09:14:40.620Z"
        },
        {
          "file": "img/icons/mailru.png",
          "mtimeMs": 1614319641390.2866,
          "date": "2021-04-12T09:14:40.997Z"
        },
        {
          "file": "img/icons/yahoo.png",
          "mtimeMs": 1614319643462.0012,
          "date": "2021-04-12T09:14:41.348Z"
        },
        {
          "file": "img/icons/yandex.png",
          "mtimeMs": 1614319645635.6538,
          "date": "2021-04-12T09:14:41.849Z"
        },
        {
          "file": "img/banner.jpg",
          "mtimeMs": 1618313937980.755,
          "date": "2021-04-13T11:39:00.599Z"
        },
        {
          "file": "course/index.html",
          "mtimeMs": 1618379129393.6428,
          "date": "2021-04-14T06:03:50.416Z"
        },
        {
          "file": "css/course.min.css",
          "mtimeMs": 1618386890444.5493,
          "date": "2021-04-14T07:55:03.383Z"
        },
        {
          "file": "img/images/main-course.png",
          "mtimeMs": 1618376322952.026,
          "date": "2021-04-14T04:58:54.198Z"
        },
        {
          "file": "img/images/victor-course.png",
          "mtimeMs": 1618376326566.801,
          "date": "2021-04-14T04:58:54.810Z"
        },
        {
          "file": "js/course.js",
          "mtimeMs": 1618380202779.3706,
          "date": "2021-04-14T06:03:51.096Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "images": {
      "preserveOriginal": false
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false,
              "polyfills": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-static-block": false,
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-logical-assignment-operators": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false,
                  "polyfills": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-static-block": false,
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-logical-assignment-operators": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "postcss-import": {
        "ignoreKeywords": [],
        "sourceMap": false
      },
      "postcss-preset-env": {
        "stage": 2,
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "postcss-import",
            "enable": false
          },
          {
            "task": "postcss-preset-env",
            "enable": false
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "../js",
          "suffix": ".min",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/course.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\course.js"
        }
      },
      {
        "file": "_app/_js/libs.min.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\libs.min.js"
        }
      },
      {
        "file": "_app/_js/promo.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\promo.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "tasks": {
            "minify-js": {
              "enable": false
            }
          },
          "autoCompile": true,
          "customOutput": "js\\scripts.js"
        }
      },
      {
        "file": "_app/_maket/1200TSP.jpg",
        "config": {
          "originalSize": 34793,
          "optimized": true
        }
      },
      {
        "file": "_app/_maket/TSP.jpg",
        "config": {
          "originalSize": 67723,
          "optimized": true
        }
      },
      {
        "file": "_app/confirm.pug",
        "config": {
          "customOutput": "confirm\\index.html"
        }
      },
      {
        "file": "_app/course.pug",
        "config": {
          "customOutput": "course\\index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "customOutput": "promo\\index.html"
        }
      },
      {
        "file": "_app/styl/confirm.min.styl",
        "config": {
          "customOutput": "css\\confirm.min.css"
        }
      },
      {
        "file": "_app/styl/course.min.styl",
        "config": {
          "customOutput": "css\\course.min.css"
        }
      },
      {
        "file": "_app/styl/promo.min.styl",
        "config": {
          "customOutput": "css\\promo.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "customOutput": "css\\styles.min.css"
        }
      },
      {
        "file": "img/banner.jpg",
        "config": {
          "originalSize": 67723,
          "optimized": true
        }
      },
      {
        "file": "img/images/logo.png",
        "config": {
          "originalSize": 2984,
          "optimized": true
        }
      },
      {
        "file": "img/images/main-course.png",
        "config": {
          "originalSize": 302284,
          "optimized": true
        }
      },
      {
        "file": "img/images/victor-course.png",
        "config": {
          "originalSize": 366006,
          "optimized": true
        }
      },
      {
        "file": "img/images/victor.png",
        "config": {
          "originalSize": 439068,
          "optimized": true
        }
      }
    ]
  }
}
