-var path = '../';
-var head_url = 'https://tolstikov.mastervision.su/modern-psychotechnologies/promo/';
-var head_title = 'Подпишись в Telegram';
//-var head_description = '';
//-var head_img = 'img/banner.jpg';
-var styles = path+'css/promo.min.css';
// -var fav_ap = path+'favicon.svg';
-var fav_ico = path+'favicon.ico';
-var fav_png = path+'favicon.png';
-var scripts = path+'js/promo.js';
-var noref = true;
-var ah = true;
-var video = '';
-var bot = 'https://shop.iomp.ru/index.php?r=form/telegram&id_bot=1';
//- -var action = '';
//- -var group = '';
//- -var formId = '';
//- -var formVc = '';
-var footer_title = true
//- -var oferta = 'https://mastervision.su/oferta.docx'
//- -var ak = true
-var hCl = 'header-promo';

<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		.wrapper
			section#main
				.container
					include pug/base/1-header
					.circle.circle-blue.circle-main-1
					.circle.circle-bordered.circle-main-2
					.content
						include pug/promo/1-main
		include pug/base/2-footer
		include pug/base/3-scripts
		//- include pug/scripts/chat
		include pug/scripts/body_bottom_scripts