#lets
	padding 100px 0
	@media screen and (max-width 767px)
		padding 60px 0
	@media screen and (max-width 385px)
		padding 40px 0
.circle-lets-1
	width 184px
	height: 184px
	top 10px
	right 250px
.circle-lets-2
	width 558px
	height: 558px
	top 0
	right -200px