.day
	position relative
	margin-bottom: 70px
	@media screen and (max-width 767px)
		margin-bottom: 50px
	&-title
		font-size: 48px
		margin-bottom: 50px
		span
			font-weight: bold
			color: #3A38DC
		@media screen and (max-width 767px)
			font-size: 40px
			margin-bottom: 30px
		@media screen and (max-width 560px)
			font-size: 32px
		@media screen and (max-width 385px)
			font-size: 28px
			margin-bottom: 20px
	&-bonus
		font-size: 20px
		margin-top: 50px
		span
			font-weight: 500
			display block
			color: #3A38DC
		@media screen and (max-width 767px)
			margin-top: 30px
		@media screen and (max-width 385px)
			margin-top: 20px
.circle-day-1-1
	width 184px
	height: 184px
	top calc(50% - 92px)
	right 90px
.circle-day-2-1
	width 184px
	height: 184px
	top calc(50% - 92px)
	right 90px
.circle-day-2-2
	width 284px
	height: 284px
	top calc(50% - 142px)
	right 44px
.circle-day-3-1
.circle-day-3-2
.circle-day-3-3
	width 284px
	height: 284px
.circle-day-3-1
	top 50px
	right -50px
.circle-day-3-2
	top 150px
	right 50px
.circle-day-3-3
	top 250px
	right 150px