#last
	padding 100px 0 210px
	@media screen and (max-width 991px)
		text-align center
		padding 90px 0 120px
	@media screen and (max-width 767px)
		padding 60px 0 90px
	@media screen and (max-width 385px)
		padding 40px 0 60px
.last-text
	font-size: 30px
	@media screen and (max-width 767px)
		font-size: 22px
	@media screen and (max-width 385px)
		font-size: 18px
.button-wrapper-last
	text-align right
	margin-top: 50px
	.button-up
		width 100%
		max-width 300px
	@media screen and (max-width 991px)
		text-align center
	@media screen and (max-width 767px)
		margin-top: 30px