header
	overflow hidden
	padding 20px 0
	margin-bottom: 40px
	@media screen and (max-width 560px)
		margin-bottom: 20px
		padding 15px 0
	.&-promo
		@media screen and (min-width 2295px)
			margin-bottom: 120px
.header-logo
	float left
	@media screen and (max-width 560px)
		display block
		margin 0 auto 5px
		float: none
		height 10px
.contacts
	float: right
	text-align right
	line-height: 13px
	@media screen and (max-width 560px)
		float: none
		text-align center
.contact
	font-size: 16px
	margin-left: 20px
	&:focus
		text-decoration none
		color #000
	&:hover
		text-decoration underline
		color #000
	@media screen and (max-width 560px)
		font-size: 12px
		margin 0 5px