section#for
	.container
		.circle.circle-blue.circle-for-1
		.circle.circle-bordered.circle-for-2
		.content
			+gt('','Этот мастер-класс для тех, кто:')
			.row
				.col-md-6
					ol.for-list.for-list-1
						li Хочет избавиться от неприятностей и проблем
						li Мечтает научиться противодействовать лжи
						li Ежедневно испытывает на себе чужое влияние
						li Устал от одиночества и непонимания
				.col-md-6
					ol.for-list.for-list-2
						li Страдает от уныния и хронической усталости
						li Настроен управлять своей судьбой и счастьем
						li Хочет найти верных друзей и любимого человека
						li Стремится к материальному успеху
			p.general-text.general-text-for Сделайте первый шаг к позитивным изменениям в своей жизни, запишитесь на мастер-клас
			+b('','button-up',href,'Записаться сейчас')