section#lets
	.container
		.circle.circle-blue.circle-lets-1
		.circle.circle-bordered.circle-lets-2
		.content
			+gt('','Мастер-класс позволит вам:')
			.row
				.col-md-6
					ul.general-list
						li Выявить причины проблем и понять, как их решить
						li Улучшить навыки управления собственным состоянием
						li Правильно ставить и достигать цели
						li Эффективно решать повседневные задачи
						li Научиться лучше разбираться в людях
						li Добиться от отношений того, что важно для Вас
						li Сделать свою жизнь более осознанной и счастливой
						li Получать от жизни удовольствие