section#plan
	.container
		+gt('','Программа мастер-класса')
		.day.day-1
			.circle.circle-blue.circle-day-1-1
			.content
				h4.day-title
					span День 1 
					| «Власть и очарование»
				ul.general-list.general-list-1
					li Как разоблачать лжецов и противодействовать их манипуляциям
					li Как читать мысли людей и очаровывать их за считанные секунды
					li Как влиять на сознание людей, чтобы получать от них желаемое
				p.day-bonus
					span Специальная практика! 
					| Простейшие техники манипуляций, благодаря которым можно получать от людей желаемое
		.day.day-2
			.circle.circle-blue.circle-day-2-1
			.circle.circle-bordered.circle-day-2-2
			.content
				h4.day-title
					span День 2 
					| «Исцеление с помощью гипноза»
				ul.general-list.general-list-1
					li Как избавиться от зависимости и вредных привычек
					li Как принять себя и обрести гармонию с миром
					li Самопрограммирование на здоровье и долголетие
				p.day-bonus
					span Специальная практика! 
					| Гипнотическая медитация с установками на исцеление, «запускающая» в организме процессы восстановления
		.day.day-3
			.circle.circle-bordered.circle-day-3-1
			.circle.circle-bordered.circle-day-3-2
			.circle.circle-bordered.circle-day-3-3
			.content
				h4.day-title
					span День 3 
					| «Код богатства и установки на успех»
				ul.general-list.general-list-1
					li Как избавиться от негативных установок на бедность и невезение
					li Как активировать свою гениальность и уверенность в себе
					li Психотехнологии для достижения целей и исполнения желаний
				p.day-bonus
					span Специальная практика! 
					| «Мантра позитива» для хорошего настроения позволит вернуть радость жизни
		+b('','button-up button-plan', href, 'Принять участие')