section#author
	.container
		.row
			.col-md-6
				+imgs('auhtor-img','img/images/victor.png','Виктор Толстиков')
			.col-md-6
				+gt('','Виктор Толстиков')
				p.general-text.general-text-author НЛП тренер международного уровня, автор и ведущий уникальных курсов и тренингов
				ul.general-list.general-list-1
					li Генеральный продюсер крупного центра развития человека
					li Мастер-практик по нейролингвистическому программированию
					li Исследователь эзотерических традиций и парапсихологических феноменов
					li Автор ряда уникальных методик по развитию и трансформации личности
					li Инструктор славянской системы личностного и духовного развития
					li Постоянный эксперт на ведущих российских телеканалах
				+b('','button-up button-author', href, 'Принять участие')