section#author
	.container
		.row
			.col-md-6
				+imgs('auhtor-img','img/images/victor.png','Виктор Толстиков')
			.col-md-6
				+gt('','Виктор Толстиков')
				p.general-text.general-text-author НЛП тренер международного уровня, автор и ведущий уникальных курсов и тренингов
				ul.general-list.general-list-1
					li Генеральный продюсер крупного центра развития человека
					li Мастер-практик по нейролингвистическому программированию
					li Исследователь эзотерических традиций и парапсихологических феноменов
					li Автор ряда уникальных методик по развитию и трансформации личности
					li Инструктор славянской системы личностного и духовного развития
					li Постоянный эксперт на ведущих российских телеканалах
				+b('','button-up button-author', href, 'Принять участие')
		.author-about
			.circle.circle-blue.circle-author-1
			.circle.circle-bordered.circle-author-2
			.circle.circle-bordered.circle-author-3
			.content
				.row
					.col-md-9
						+gt('','Пара слов о жизни тренера')
						p.general-text Виктор в 19 лет с помощью самогипноза избавился от тяжёлого недуга, а благодаря своей авторской методике похудел на 23 кг за одно лето. К 30-ти годам он полностью отказался от алкоголя и табака после более чем 10-летнего периода злоупотребления ими. Много времени провёл в путешествиях по местам силы, полгода прожил в Юго-Восточной Азии. Учился у хранителей различных традиций и культов (шаманизм, магия, ведовство, суфизм, славянская и индийская йога и многое другое)