section#main
	.container
		.content
			include ../base/1-header
			.row
				.col-md-6
					p.main-pre Курс
					h1.main-title Современные психотехнологии: 
						span аутотренинг, НЛП, гипноз
					h2.main-subtitle Управляйте своей жизнью – отражайте манипуляции, стройте отношения, повышайте доход с помощью профессии «Психотехнолог»
					p.main-info Автор: 
						span Виктор Толстиков
					p.main-info Старт курса: 
						span.date 26.04.2021
					+b('', '', href, 'Записаться')
				.col-md-6
					.main-img
						+imgs('','img/images/main-course.png','Виктор Толстиков')