section#wants
	.container
		.circle.circle-blue.circle-wants-1
		.circle.circle-bordered.circle-wants-2
		.content
			+gt('','Если вы хотите:')
			.row
				.col-md-6
					ol.wants-list.wants-list-1
						li Уметь распознавать ложь и отражать любые манипуляции
						li Найти верных друзей или идеальную «вторую половинку»
						li Поверить в себя и обрести денежное мышление
						li «Поймать удачу за хвост» и получать подарки от судьбы
				.col-md-6
					ol.wants-list.wants-list-2
						li Сохранить здоровье и радость на долгие годы
						li Помогать не только себе, но и другим людям
						li Начать зарабатывать на любимом деле
			p.general-text.general-text-wants То этот курс для вас
			+b('','',href,'Записаться')