section#reach
	.container
		.circle.circle-blue.circle-reach-1
		.circle.circle-bordered.circle-reach-2
		.content
			+gt('','При помощи техник:')
			.row
				.col-md-8
					ul.general-list.general-list-1
						li Нейролингвистического программирования
						li Состояния изменённого сознания (транс)
						li Систематического внушения и аффирмаций
						li Модели человеческого опыта
						li Шаблона эффективного поведения и мышления