section#learn
	.container
		.content
			+gt('','Вы научитесь:')
			.row
				.col-md-6
					ol.learn-list
						li Противодействовать любым манипуляциям
						li Незаметно гипнотизировать человека
						li Достигать целей эффективными методами
						li Избавиться от страхов, комплексов, вредных привычек
				.col-md-6
					ol.learn-list
						li Раскрыть в себе необычные способности
						li Освоить профессию «Психотехнолог»
						li Помогать людям за достойное вознаграждение
						li Получать инструменты для ускоренного саморазвития