mixin ml(n,h4,...items)
	.module(class="module-"+n)
		h4.module-title
			span="Модуль "+n
			=h4
			small Благодаря трансовым техникам и визуализации Вы:
		ul.general-list.general-list-1
			each item in items
				li=item

section#plan
	.container
		+gt('','План курса:')
		+ml('1',' «Образная медитация»','Избавитесь от телесных зажимов, блоков и дискомфортных ощущений','Научитесь быстро нейтрализовывать стресс и расслабляться','Будете получать по утрам заряд позитива и энергии на весь день')
		+ml('2',' «Аффирмации и аутотренинг»','Научитесь «программировать» подсознание на достижение успеха и богатства','Сможете избавиться от лишнего веса методом аудиовизуального кодирования','Будете использовать аутотренинг для успокоения нервной системы и засыпания')
		+ml('3',' «Искусство очарования»','Сможете нравиться людям, вызывать интерес и даже влюблять их в себя','Узнаете, как найти верных друзей, подходящего партнёра или спутника жизни',' Избавитесь от конфликтов и сможете наладить отношения в семье и на работе')
		+ml('4',' «Мастерство влияния»','Освоите практические методы погружения человека в состояние транса','Сможете влиять на сознание людей без погружения в транс и гипноз','Будете легко распознавать ложь и противодействовать манипуляциям')
		+ml('5',' «Самосовершенствование»','Избавитесь от негативных установок, мешающих Вашему развитию и успеху',' Активируете свой внутренний потенциал и раскроете необычные способности','Узнаете секреты и рецепты успеха от гениев, богатеев и знаменитостей')
		+ml('6',' «Трансформация и исцеление»','Избавитесь от страхов, комплексов и болезненных душевных мучений','Распрощаетесь с вредными привычками и замените их полезными','Узнаете продвинутые психотехнологии исполнения желаний')
		+b('', '', href, 'Стать учеником')