section#last
	.container
		.row
			.col-md-8
				h3.general-title Начни сейчас!
				p.last-text Если вы хотите таких или еще более значимых результатов, запишитесь прямо сейчас
			.col-md-4
				+b('button-wrapper-last','button-up', href, 'Записаться')